<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Página de Ejemplo</title>
    <link rel="stylesheet" type="text/css" th:href="@{estilos.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap">
</head>
<body>

<h1>Bienvenido a la Página de Inicio de Livros</h1>


<a th:href="@{/users/novolivro}">Agregar Nuevo Libro</a><br/>
<a th:href="@{/users/listarlivros}">Listar Libros</a><br/>
<a th:href="@{/users/home}">Home</a>

</body>
</html>
