<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Listar Livros</title>
</head>

<body>
<h1>Livros</h1>

<a href="/livros/preco/123">123</a><br/>
<a href="/livros/preco/321">321</a><br/>


<form method="post" action="pesquisar">
    Buscar: <input type="text" name="texto"/>
    <input type="submit"/>
</form>

<table>
    <thead>
    <th>ID</th>
    <th>Titulo</th>
    <th>Autor</th>
    <th>Preço</th>
    <th>Resumo</th>
    <th>Genero</th>
    <th>Ações</th>
    </thead>

    <tbody>
    <tr th:each="livro : ${livros}">
        <td th:text="${livro.id}"></td>
        <td th:text="${livro.titulo}"></td>
        <td th:text="${livro.autor}"></td>
        <td th:text="${livro.preco}"></td>

        <td><img th:src="@{/users/imagem/{imagem}(imagem=${livro.imagem})}"/></td>




        <td th:text="${livro.resumo}"></td>

        <td th:text="${livro.genero}"></td>

        <td><a th:href="@{/users/editarlivro/{id}(id=${livro.id})}">Editar</a></td>

        <td><a th:href="@{/users/deletarlivro/{id}(id=${livro.id})}">Excluir</a></td>
    </tr>
    </tbody>

</table>


<a th:href="@{/novolivro}">Novo Livro</a><br/>
<a th:href="@{/iniciolivros}">Inicio</a><br/>
<a th:href="@{/home}">Home</a>

</body>

</html>
