<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barra de Navegación</title>
</head>


<body class="pt-5">

<div th:fragment="navbar-user">

    <nav id="mainNavbar" class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
        <div class="container-fluid">

            <!-- Logo -->
            <div id="logo" th:replace="~{fragments/logo}"></div>

            <!-- Botón para navegación colapsable en dispositivos móviles -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Contenido del navbar -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">

                    <!-- Menú desplegable: Solicitudes y Contenidos -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownSolicitudesContenidos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-plus-circle"></i> <span>Solicitudes y Contenidos</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownSolicitudesContenidos">
                            <li>
                                <a class="dropdown-item" th:href="@{/user/newsolicitude}">
                                    <i class="bi bi-plus-circle"></i> <span th:text="#{solicitud}">Solicitar Recolección</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{/user/view-requests}">
                                    <i class="bi bi-file-earmark-text"></i> <span th:text="#{historysolicitudes}">Ver Historial de Solicitudes</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{/user/viewarticles}">
                                    <i class="bi bi-book"></i> <span th:text="#{publicaciones}">Ver Publicaciones</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{/user/informaciones}">
                                    <i class="bi bi-book"></i> <span th:text="informaciones">Informaciones</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Menú desplegable: Usuario -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownUsuario" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person"></i> <span>Usuario</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownUsuario">
                            <li>
                                <a th:href="@{/user/profile/{id}(id=${user.id})}" class="dropdown-item" style="display: flex; align-items: center;">
                                    <img th:src="@{'/img/' + ${user.profileImage}}" alt="Perfil" style="width: 30px; height: 30px; border-radius: 50%; margin-right: 10px;" src="">
                                    <span th:text="${user.username}">Nombre de Usuario</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{/logout}">
                                    <i class="bi bi-door-open"></i> <span th:text="#{salir}">Salir</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Perfil de Usuario con Imagen -->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/profile/{id}(id=${user.id})}">
                            <img th:src="@{'/img/' + ${user.profileImage}}" alt="Perfil" class="rounded-circle" width="30" height="30">
                            <span th:text="${user.username}">Usuario</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{${currentUrl}(language='es')}"
                           class="nav-link">
                            <img th:src="@{/img/{img}(img=${uruguaiImageName})}" alt="Uruguay" width="30" height="20" style="object-fit: contain;">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{${currentUrl}(language='pt')}" class="nav-link">
                            <img th:src="@{/img/{img}(img=${brasilImageName})}" alt="Brasil" width="30" height="20" style="object-fit: contain;">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>
