<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Sponsors list component -->
<div th:fragment="sponsor-list" class="mt-8 pt-4 border-t border-gray-200">
    <p class="text-xs text-gray-500 mb-2" th:text="#{banner.apoyo}">Organizaciones que nos respaldan:</p>
    <div class="flex justify-center space-x-4">
        <img src="/img/asc.jpg" alt="Patrocinador 1" class="h-8 opacity-75 grayscale hover:grayscale-0 hover:opacity-100 transition">
        <img src="/img/pm.png" alt="Patrocinador 2" class="h-8 opacity-75 grayscale hover:grayscale-0 hover:opacity-100 transition">
        <img src="/img/rivera.png" alt="Patrocinador 3" class="h-8 opacity-75 grayscale hover:grayscale-0 hover:opacity-100 transition">
    </div>
</div>
</body>
</html>
