<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{index.title}">Frontera Sustentable</title>
    <link rel="icon" href="">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img src="/img/logov4.png" alt="logo" width="50" height="50">
        <a class="navbar-brand" th:href="@{/index}" th:text="#{index.title}"> Frontera Sustentable</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="navbar-brand" th:href="@{/logout}" th:text="#{salir}">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light">
            <!-- Elemento de inicio de las migas de pan -->
            <li class="breadcrumb-item"><a th:href="@{/index}" th:text="#{breadcrumb.home}">Inicio</a></li>
            <!-- Elemento activo de las migas pan-->
            <li class="breadcrumb-item active" aria-current="page" th:text="#{breadcrumb.profile}">Perfil</li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3"><!-- Formulario para subir nueva publicación -->
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center" th:text="#{newpost.title}">Subir Nueva Publicación</h3>
                </div>
                <div class="card-body">
                    <form th:action="@{/admin/newarticle}" method="post" enctype="multipart/form-data" th:object="${article}">
                        <!-- Campos para ingresar datos de la imagen -->
                        <div class="mb-3">
                            <label for="fileInput" class="form-label" th:text="#{newpost.select}">Seleccionar Imagen:</label>
                            <input type="file" class="form-control" id="fileInput" name="file" required>
                            <small class="form-text text-muted" th:text="#{newpost.allowedformats}">Formatos permitidos: JPG, PNG, GIF. Tamaño máximo: 5MB.</small>
                        </div>

                        <div class="mb-3">
                            <label for="titulo" class="form-label" th:text="#{newpost.titlelabel}">Titulo:</label>
                            <input type="text" class="form-control" id="titulo" name="titulo" required>
                        </div>

                        <div class="mb-3">
                            <label for="descripcion" class="form-label" th:text="#{newpost.contentlabel}">Contenido:</label>
                            <textarea class="form-control" id="descripcion" name="descripcion" rows="3"></textarea>
                        </div>

                        <!-- Botón de envío -->
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary" th:text="#{newpost.submit}">Postear Publicación</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Mensajes de éxito o error -->
            <div th:if="${param.error}" class="alert alert-danger mt-3" role="alert">
                <span th:text="${param.error}"></span>
            </div>
            <div th:if="${param.exito}" class="alert alert-success mt-3" role="alert">
                <span th:text="${param.exito}"></span>
            </div>
        </div>
    </div>
</div>

<footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container text-right">
        <span class="text-muted" th:text="#{footer.copy}">&copy; 2024 Frontera Sustentable. Todos los derechos reservados.</span>
        <a class="nav-link" th:href="@{/report}">Reportar problema</a>
        <button onclick="window.history.back()" class="btn btn-outline-light btn-sm mx-2
        float-right" th:text="#{volver}">Volver atrás</button>    </div>
</footer>
</body>
</html>
