<!-- postulacion.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Postulación</title>
    <!-- Agrega los enlaces a Bootstrap y otros recursos si es necesario -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">@SpringJobs</a> Login System
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<br />
<br />
<br />
<div class="container mt-1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light">
            <li class="breadcrumb-item"><a th:href="@{/index}">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Postularse</li>
        </ol>
    </nav>
</div>
<div class="container mt-5">
    <h3 class="mb-4">Formulario de Postulación</h3>
    <form th:action="@{/postularse/{id}(id=${empleo.id})}" method="post" th:object="${candidato}">
        <!-- Agrega campos para el nombre, apellido, email, LinkedIn, aptitudes -->
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}" required>
        </div>
        <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" class="form-control" id="apellido" name="apellido" th:field="*{apellido}" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" th:field="*{email}" required>
        </div>
        <div class="form-group">
            <label for="linkedin">LinkedIn:</label>
            <input type="text" class="form-control" id="linkedin" name="linkedin" th:field="*{linkedin}" required>
        </div>
        <div class="form-group">
            <label for="aptitudes">Aptitudes:</label>
            <textarea class="form-control" id="aptitudes" name="aptitudes" th:field="*{aptitudes}" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar Postulación</button>
    </form>
</div>
</body>
</html>
