<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>navbar-content</title>
</head>
<body>
<div th:fragment="navbar-content">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
            <!-- Aquí se incluyen los menús de reciclaje, recursos y demás -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownReciclaje" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-recycle"></i> Reciclaje
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownReciclaje">
                    <li><a class="dropdown-item" th:href="@{/user/newsolicitude}">Nueva Solicitud</a></li>
                    <li><a class="dropdown-item" th:href="@{/ambiental}">Educación Ambiental</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRecursos" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-info-circle"></i> Recursos
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownRecursos">
                    <li><a class="dropdown-item" th:href="@{/noticias}">Noticias</a></li>
                    <li><a class="dropdown-item" th:href="@{/materiales}">Materiales</a></li>
                    <li><a class="dropdown-item" th:href="@{/alianzas}">Alianzas</a></li>
                    <li><a class="dropdown-item" th:href="@{/legislacion}">Legislación</a></li>
                </ul>
            </li>
            <!-- Banderas y Login -->
            <div class="d-flex align-items-center" style="gap: 15px;">
                <div id="language" th:replace="~{fragments/navbar/language}"></div>
                <div id="auth" th:replace="~{fragments/navbar/auth}"></div>
            </div>
        </ul>
    </div>
</div>

</body>
</html>