<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título de la página -->
    <title th:text="#{index.title}">Frontera Sustentable</title>
    <!-- Ícono de la página -->
    <link rel="icon" href="">
    <!-- Estilos CSS personalizados -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Estilos Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>


<nav id="mainNavbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <div th:replace="~{fragments/logo}"></div>

        <a class="navbar-brand" th:href="@{/index}" th:text="#{index.title}"> </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>

            <ul class="navbar-nav ms-auto">
                <div class="d-flex align-items-center">
                    <li class="nav-item">
                        <a href="/cooperativa/dashboard?language=es" class="nav-link">
                            <img th:src="@{/img/{img}(img=${uruguaiImageName})}" alt="Uruguay" width="30" height="20">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/cooperativa/dashboard?language=pt" class="nav-link">
                            <img th:src="@{/img/{img}(img=${brasilImageName})}" alt="Brasil" width="30" height="20">
                        </a>
                    </li>
                    <!-- Perfil del usuario -->
                    <li class="nav-item d-flex align-items-center">
                        <a th:href="@{/user/profile/{id}(id=${user.id})}" class="nav-link" style="display: flex; align-items: center; ">
                            <img th:src="@{'/img/' + ${user.profileImage}}" alt="Perfil" style="width: 30px; height: 30px; border-radius: 50%; margin-right: 10px;">
                            <span th:text="${user.username}">Nombre de Usuario</span>
                        </a>
                    </li>
                    <li><a class="nav-link" th:href="@{/logout}">
                        <i class="bi bi-door-open"></i> <span th:text="#{salir}">Salir</span></a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>

<div th:replace="~{fragments/messages :: message-alerts}"></div>

<div class="container mt-1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light">
            <!-- Elemento de inicio de las migas de pan -->
            <li class="breadcrumb-item"><a th:href="@{/index}" th:text="#{breadcrumb.home}">Inicio</a></li>
            <!-- Elemento activo de las migas de pan -->
            <li class="breadcrumb-item active" aria-current="page" th:text="#{breadcrumb.welcome}">Welcome</li>
        </ol>
    </nav>
</div>
<div class="container mt-4">
    <span th:text="#{info_usuario}">Información del Usuario</span>
    <h3 th:text="${username}">Nombre de Usuario </h3>
</div>
<hr/>

<div class="container mt-4">
    <div class="row text-left">
        <div class="col">
            <h2>Solicitudes</h2>
        </div>
        <div class="col text-right">
            <button class="btn btn-primary" id="toggleViewBtn" onclick="toggleView()">Ver en tarjetas</button>
        </div>
    </div>

    <div class="mt-4" th:if="${solicitudes == null or #lists.isEmpty(solicitudes)}">
        <div class="alert alert-info" role="alert">
            Aún no has recibido solicitudes.
        </div>
    </div>

    <div id="tableView" class="mt-4" th:if="${solicitudes != null and !#lists.isEmpty(solicitudes)}">
        <table class="table table-striped table-bordered table-hover">
            <thead class="table-dark">
            <tr>


                <th>Descripción</th>
                <th>Imagen</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="solicitude : ${solicitudes}">

                <td th:text="${solicitude.categoria}"></td>
                <td><img th:src="@{/img/{img}(img=${solicitude.imagen})}" width="100" height="100"></td>
                <td th:text="#{${solicitude.estado}}"></td>
                <td>
                    <a class="btn btn-info" th:href="@{/cooperativa/reviewsolicitude/{id}(id=${solicitude.id})}">Revisar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="cardView" class="row row-cols-1 row-cols-md-3 g-4 mt-4 d-none" th:if="${solicitudes != null and !#lists.isEmpty(solicitudes)}">
        <div class="col" th:each="solicitude : ${solicitudes}">
            <div class="card h-100">
                <img th:src="@{/img/{img}(img=${solicitude.imagen})}" class="card-img-top" alt="..." width="100" height="200">
                <div class="card-body">

                    <p class="card-text" th:text="${solicitude.descripcion}"></p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Categoría: <span th:text="${solicitude.categoria}"></span></li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a class="btn btn-info" th:href="@{/cooperativa/reviewsilicitude/{id}(id=${solicitude.id})}">Revisar</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{fragments/footer :: footer}"></div>


<script>
    function toggleView() {
        const tableView = document.getElementById('tableView');
        const cardView = document.getElementById('cardView');
        const toggleBtn = document.getElementById('toggleViewBtn');

        if (tableView.classList.contains('d-none')) {
            tableView.classList.remove('d-none');
            cardView.classList.add('d-none');
            toggleBtn.textContent = 'Ver en tarjetas';
        } else {
            tableView.classList.add('d-none');
            cardView.classList.remove('d-none');
            toggleBtn.textContent = 'Ver en tabla';
        }
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
