<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments/layout/head :: head}">
    <title>Bienvenida</title>
</head>

<body class="bg-light d-flex flex-column min-vh-100">

<div th:replace="~{fragments/cooperativa/navbar-cooperativa :: navbar-cooperativa}"></div>


<div th:replace="~{fragments/messages :: message-alerts}"></div>


<div class="container mt-1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light">
            <li class="breadcrumb-item"><a th:href="@{/cooperativa/dashboard}" th:text="#{breadcrumb.welcome}">Bienvenida</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="#{breadcrumb.newRequest}">Revisar Solicitud</li>
        </ol>
    </nav>
</div>

<div th:replace="~{fragments/cooperativa/solicitudes-list :: solicitudes-list}"></div>

<div th:replace="~{fragments/layout/footer :: footer}"></div>

</body>
</html>