<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}"
      th:with="headerType='guest'">
<head>
    <title>Error</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card">
                        <div class="card-header bg-danger text-white">
                            <h3>Ha ocurrido un error</h3>
                        </div>
                        <div class="card-body">
                            <p th:if="${errorMessage}" th:text="${errorMessage}">Mensaje de error específico</p>
                            <p th:unless="${errorMessage}">Lo sentimos, ha ocurrido un error inesperado.</p>
                            <hr/>
                            <div class="d-flex justify-content-between">
                                <a th:href="@{/index}" class="btn btn-primary">
                                    <i class="bi bi-house-door me-1"></i>Volver a la página principal
                                </a>
                                <a href="javascript:history.back()" class="btn btn-secondary">
                                    <i class="bi bi-arrow-left me-1"></i>Volver atrás
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
