<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout/head :: head}">
    <title>Bienvenida</title>
</head>

<body class="pt-5">
<div th:fragment="navbar-cooperativa">

    <nav id="mainNavbar" class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
        <div class="container-fluid">

            <!-- Logo -->
            <div id="logo" th:replace="~{fragments/logo}"></div>

            <!-- Botón para navegación colapsable en dispositivos móviles -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Contenido del navbar -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">

                    <!-- Dropdown: Solicitudes -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownSolicitudes" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-clipboard-check"></i> <span>Solicitudes</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownSolicitudes">
                            <li><a class="dropdown-item" th:href="@{/user/newsolicitude}">Nueva Solicitud</a></li>
                            <li><a class="dropdown-item" th:href="@{/user/view-requests}">Ver Solicitudes</a></li>
                            <li><a class="dropdown-item" th:href="@{/user/statistics}">Estadísticas</a></li>
                            <li><a class="dropdown-item" th:href="@{/materiales}">Materiales</a></li>
                        </ul>
                    </li>

                    <!-- Dropdown: Contenidos -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownContenidos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-book"></i> <span>Contenidos</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownContenidos">

                            <!-- Encabezado de Comunidad -->
                            <li><h6 class="dropdown-header">Comunidad</h6></li>
                            <li><a class="dropdown-item" th:href="@{/noticias}">Noticias</a></li>
                            <li><a class="dropdown-item" th:href="@{/ambiental}">Ed Ambiental</a></li>
                            <li><a class="dropdown-item" th:href="@{/alianzas}">Alianzas</a></li>

                            <li><hr class="dropdown-divider"></li>

                            <!-- Encabezado de Recursos -->
                            <li><h6 class="dropdown-header">Recursos</h6></li>
                            <li><a class="dropdown-item" th:href="@{/user/viewarticles}">Artículos</a></li>
                            <li><a class="dropdown-item" th:href="@{/legislacion}">Legislación</a></li>
                            <li><a class="dropdown-item" th:href="@{/informaciones}">Informaciones</a></li>

                        </ul>
                    </li>

                    <!-- Dropdown: Usuario -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="dropdownUsuario" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img th:src="@{'/img/' + ${user.profileImage}}" alt="Perfil" class="rounded-circle me-2" width="30" height="30">
                            <span th:text="${user.username}">Usuario</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownUsuario">
                            <li>
                                <a th:href="@{/user/profile/{id}(id=${user.id})}" class="dropdown-item">
                                    <i class="bi bi-pencil-square"></i> Editar Perfil
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{/logout}">
                                    <i class="bi bi-door-open"></i> Salir
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Idiomas -->
                    <li class="nav-item">
                        <a th:href="@{${currentUrl}(language='es')}" class="nav-link">
                            <img th:src="@{/img/{img}(img=${uruguaiImageName})}" alt="Uruguay" width="30" height="20" style="object-fit: contain;">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{${currentUrl}(language='pt')}" class="nav-link">
                            <img th:src="@{/img/{img}(img=${brasilImageName})}" alt="Brasil" width="30" height="20" style="object-fit: contain;">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>