<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout/head :: head}">
    <title>Bienvenida</title>
</head>

<body class="pt-5 bg-light">
<div th:fragment="solicitudes-table">


    <div class="container mt-4">
        <h2>Solicitudes</h2>
        <div class="table-responsive shadow-lg rounded bg-white">
            <table id="solicitudesTable" class="table table-striped table-bordered table-hover table-sm align-middle">
                <thead class="table-dark text-center">
                <tr>
                    <th>Descripción</th>
                    <th>Imagen</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="solicitude : ${solicitudes}">
                    <td th:text="${solicitude.categoria}" class="text-secondary"></td>
                    <td class="text-center">
                        <div class="img-thumbnail-container d-inline-block border border-secondary rounded">
                            <img th:src="@{/img/{img}(img=${solicitude.imagen})}" alt="Imagen de solicitud"
                                 style="width: 40px; height: 40px; object-fit: cover;">
                        </div>
                    </td>
                    <td th:text="#{${solicitude.estado}}" class="text-center"></td>
                    <td class="text-center">
                        <a class="btn btn-outline-info btn-sm" th:href="@{/cooperativa/reviewsolicitude/{id}(id=${solicitude.id})}">
                            Revisar
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>
