<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">


<head th:replace="~{fragments/components/commonHead :: commonHead}">
    <title>Login</title>
</head>

<body th:replace="fragments/components/body:: fullBodyLayout">

<!-- Breadcrumb -->
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light shadow-sm rounded p-1.5">
            <li class="breadcrumb-item">
                <a th:href="@{/index}" class="text-decoration-none">
                    <i class="bi bi-house"></i>
                    <span th:text="#{breadcrumb.home}">Inicio</span>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <i class="bi bi-person-circle"></i>
                <span th:text="#{breadcrumb.login}">Login</span>
            </li>
        </ol>
    </nav>
</div>

<!-- Contenido específico para el login -->
<th:block th:fragment="pageContent">
    <div th:replace="fragments/guest/login-form :: login-form"></div>
</th:block>
</body>

</html>
