<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head th:replace="~{fragments/layout/head :: head}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <title>Panel de Usuario</title>
</head>

<body class=" d-flex flex-column min-vh-100">

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light shadow-sm rounded p-1.5"> <!-- Padding reducido -->
            <li class="breadcrumb-item">
                <i class="bi bi-house"></i>
                <a th:href="@{/user/welcome}"
                   th:text="#{breadcrumb.welcome}">Bienvenida</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page" th:text="#{breadcrumb.welcome}">Welcome</li>
        </ol>
    </nav>
</div>

<div th:replace="~{fragments/user/navbar-user :: navbar-user}"></div>

<div th:replace="~{fragments/messages :: message-alerts}"></div>

<div th:replace="~{fragments/layout/footer :: footer}"></div>
</body>
</html>