<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">


<head th:replace="~{fragments/layout/head :: head}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <title>Contacto</title>
</head>

<body class="d-flex flex-column min-vh-100">

<!-- Reemplazamos el navbar-user por el header común -->
<div th:replace="~{fragments/header :: header}"></div>

<div class="container">
    <!-- Reemplazamos la implementación manual por el fragmento reutilizable -->
    <div th:replace="~{fragments/layout/breadcrumb :: breadcrumb(${breadcrumbItems})}"></div>
</div>

<div th:replace="~{fragments/messages :: message-alerts}"></div>

<div th:replace="~{fragments/layout/footer :: footer}"></div>
</body>
</html>