<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Frontera de la Paz Sustentable</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img src="/img/logov4.png" alt="logo" width="50" height="50">
        <a class="navbar-brand" th:href="@{/index}" th:text="#{index.title}"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown language-dropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <span th:text="#{label.chooseLang}"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/user/editsolicitude?language=pt" th:text="#{label.lang.pt}">Português</a></li>
                        <li><a class="dropdown-item" href="/user/editsolicitude?language=es" th:text="#{label.lang.es}">Español</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="navbar-brand" th:href="@{/logout}" th:text="#{salir}">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light">
            <li class="breadcrumb-item"><a th:href="@{/user/welcome}" th:text="#{breadcrumb.welcome}">Bienvenida</a></li>
            <!-- Elemento activo de las migas de pan -->
            <li class="breadcrumb-item active" aria-current="page" th:text="#{breadcrumb.editRequest}">Nueva Solicitud</li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <div class="card">
                <div class="card-header">
                    <!-- Título del formulario -->
                    <h3 class="text-center" >Editar Solicitud</h3>
                </div>
                <div class="card-body">

                    <form id="editForm" method="post" enctype="multipart/form-data" th:action="@{'/user/editsolicitude/' + ${solicitude.id}}">
                        <!-- Texto de ayuda para campos obligatorios -->
                        <p><strong>*</strong> Indica que el campo es obligatorio</p>

                        <div class="mb-3">
                            <label for="file" class="form-label">Imagen Actual</label>
                            <img th:src="@{/img/{imagen}(imagen=${solicitude.imagen})}" class="img-thumbnail mb-2" style="max-width: 200px;" alt="Imagen actual"/>
                            <label for="file" class="form-label">Nueva Imagen *</label>
                            <input type="file" class="form-control" id="file" name="file">
                        </div>


                        <div class="mb-3">
                            <label for="categoria" class="form-label">Categoría *</label>
                            <select class="form-select" id="categoria" name="categoria" required>
                                <option value="" disabled selected>Seleccione la categoría</option>
                                <option value="plastico" th:selected="${solicitude.categoria == 'plastico'}">Plástico</option>
                                <option value="carton" th:selected="${solicitude.categoria == 'carton'}">Cartón</option>
                                <option value="metal" th:selected="${solicitude.categoria == 'metal'}">Metal</option>
                                <option value="eletronico" th:selected="${solicitude.categoria == 'eletronico'}">Eletronico</option>
                                <option value="otros" th:selected="${solicitude.categoria == 'otros'}">Otros</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="descripcion" class="form-label">Descripción</label>
                            <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required th:text="${solicitude.descripcion}"></textarea>
                        </div>

                        <!-- Campo de selección de días -->
                        <div class="mb-3">
                            <label for="diasDisponibles" class="form-label">Días disponibles</label>
                            <select id="diasDisponibles" class="form-select" onchange="updateAvailableHours(); clearTimeInput();">
                                <option value="" disabled selected>Seleccione un día</option>
                                <option value="monday">Lunes</option>
                                <option value="tuesday">Martes</option>
                                <option value="wednesday">Miércoles</option>
                                <option value="thursday">Jueves</option>
                                <option value="friday">Viernes</option>
                                <option value="saturday">Sábado</option>
                            </select>
                        </div>

                        <!-- Campo de selección de hora -->
                        <div class="mb-3">
                            <label for="horaRecoleccion" class="form-label">Hora de recolección</label>
                            <select id="horaRecoleccion" class="form-select" onchange="clearSelectInput();">
                                <option value="" disabled selected>Seleccione la hora de recolección</option>
                            </select>
                        </div>

                        <!-- Campo de ingreso de hora personalizada -->
                        <div class="mb-3">
                            <label for="customHoraRecoleccion" class="form-label">Hora personalizada</label>
                            <input type="time" id="customHoraRecoleccion" class="form-control" onchange="clearSelectInput();">
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col">
                                    <label for="calle" class="form-label">Calle *</label>
                                    <input type="text" class="form-control" id="calle" name="calle" th:value="${solicitude.calle}" required>
                                </div>
                                <div class="col">
                                    <label for="numeroDeCasa" class="form-label">Número de Casa *</label>
                                    <input type="text" class="form-control" id="numeroDeCasa" name="numeroDeCasa" th:value="${solicitude.numeroDeCasa}" required>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="barrio" class="form-label">Barrio *</label>
                            <input type="text" class="form-control" id="barrio" name="barrio" th:value="${solicitude.barrio}" required>
                        </div>

                        <div class="mb-3">
                            <label for="telefono" class="form-label">Teléfono *</label>
                            <input type="tel" class="form-control" id="telefono" name="telefono" th:value="${solicitude.telefono}" required>
                        </div>

                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        <a th:href="@{'/user/deletesolicitude/' + ${solicitude.id}}" class="btn btn-danger mt-2">Borrar Solicitud</a>
                    </form>

                </div>
        </div>
    </div>
</div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">Comunicación</h4>
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="messageInput">Escriba su mensaje:</label>
                            <textarea class="form-control" id="messageInput" rows="3"></textarea>
                        </div>
                        <button class="btn btn-primary mt-2" onclick="sendMessage()">Enviar</button>
                    </div>
                    <div class="card-footer">
                        <h6>Mensajes anteriores:</h6>
                        <ul class="list-group" id="messageList">
                            <!-- Los mensajes se agregarán aquí dinámicamente -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container text-right">
        <span class="text-muted" th:text="#{footer.copy}">&copy; 2024 Frontera Sustentable. Todos los derechos reservados.</span>
        <button onclick="window.history.back()" class="btn btn-outline-light btn-sm mx-2
        float-right" th:text="#{volver}">Volver atrás</button>    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function clearTimeInput() {
        document.getElementById('customHoraRecoleccion').value = '';
    }

    function clearSelectInput() {
        document.getElementById('horaRecoleccion').value = '';
    }

    function updateAvailableHours() {
        const day = document.getElementById('diasDisponibles').value;
        const hourSelect = document.getElementById('horaRecoleccion');

        // Limpiar las opciones actuales
        hourSelect.innerHTML = '<option value="" disabled selected>Seleccione la hora de recolección</option>';

        // Definir horas disponibles según el día
        let hours = [];
        if (day === 'saturday') {
            hours = ['09:00', '10:00', '11:00'];
        } else if (day) {
            hours = ['08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00'];
        }

        // Agregar las nuevas opciones
        hours.forEach(hour => {
            const option = document.createElement('option');
            option.value = hour;
            option.textContent = hour;
            hourSelect.appendChild(option);
        });
    }
</script>
</body>
</html>
