<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edicion de Solicitud</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.css">
    <!-- Google Fonts  -->

    <link rel="stylesheet" href="/css/styles.css">

</head>

<body class="d-flex flex-column min-vh-100">




<div th:replace="~{fragments/user/navbar-user :: navbar-user}"></div>

<div th:replace="~{fragments/messages :: message-alerts}"></div>

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light shadow-sm rounded p-1.5"> <!-- Padding reducido -->
            <li class="breadcrumb-item">
                <i class="bi bi-house"></i>
                <a th:href="@{/user/welcome}"
                   th:text="#{breadcrumb.welcome}">Bienvenida</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page" th:text="#{breadcrumb.editRequest}">Nueva Solicitud</li>
        </ol>
    </nav>
</div>


<div th:replace="~{fragments/solicitudes/dialogo :: dialogo}"></div>

<div th:replace="~{fragments/solicitudes/edit-solicitud :: edit-solicitud}"></div>

<div th:replace="~{fragments/layout/footer :: footer}"></div>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<script src="/scripts/solicitudEditScript.js"></script>

</body>
</html>
