<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitudes</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <style>
        .error {
            color: red;
            display: none;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid d-flex align-items-center">
        <img src="/img/logov4.png" alt="logo" width="50" height="50" class="me-2">
        <a class="navbar-brand" th:href="@{/index}" th:text="#{index.title}">Frontera Sustentable</a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/view-requests}" th:text="#{historysolicitudes}">Ver Historial de Solicitudes</a>
                </li>
                <!-- Menú desplegable -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="menuDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Menú
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="menuDropdown">
                        <li><a class="dropdown-item" th:href="@{/user/viewarticles}" th:text="#{publicaciones}">Ver Publicaciones</a></li>
                        <li><a class="dropdown-item" th:href="@{/user/profile/{id}(id=${user.id})}">Ver Perfil</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown language-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-globe"></i> <span th:text="#{label.chooseLang}">Idioma</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/user/editsolicitude?language=pt" th:text="#{label.lang.pt}">Português</a></li>
                        <li><a class="dropdown-item" href="/user/editsolicitude?language=es" th:text="#{label.lang.es}">Español</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" th:text="#{salir}">
                        <i class="bi bi-door-open"></i> Salir
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light">
            <li class="breadcrumb-item">
                <i class="bi bi-house"></i>
                <a th:href="@{/index}" th:text="#{breadcrumb.home}">Inicio</a>
            </li>
            <li class="breadcrumb-item"><a th:href="@{/user/welcome}" th:text="#{breadcrumb.welcome}">Bienvenida</a></li>
            <!-- Elemento activo de las migas de pan -->
            <li class="breadcrumb-item active" aria-current="page" th:text="#{breadcrumb.editRequest}">Nueva Solicitud</li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <div class="card">
                <div class="card-header">
                    <!-- Título del formulario -->
                    <h3 class="text-center" >Editar Solicitud</h3>
                </div>
                <div class="card-body">

                    <form id="editForm" method="post" enctype="multipart/form-data" th:action="@{'/user/editsolicitude/' + ${solicitude.id}}">
                        <!-- Texto de ayuda para campos obligatorios -->
                        <p><strong>*</strong> Indica que el campo es obligatorio</p>

                        <div class="mb-3">
                            <label for="file" class="form-label">Imagen Actual</label>
                            <img th:src="@{/img/{imagen}(imagen=${solicitude.imagen})}" class="img-thumbnail mb-2" style="max-width: 200px;" alt="Imagen actual"/>
                            <label for="file" class="form-label">Nueva Imagen *</label>
                            <input type="file" class="form-control" id="file" name="file">
                        </div>

                        <div class="mb-3">
                            <label for="categoria" class="form-label">Categoría *</label>
                            <select class="form-select" id="categoria" name="categoria" required>
                                <option value="" disabled selected>Seleccione la categoría</option>
                                <option value="plastico" th:selected="${solicitude.categoria == 'plastico'}">Plástico</option>
                                <option value="carton" th:selected="${solicitude.categoria == 'carton'}">Cartón</option>
                                <option value="metal" th:selected="${solicitude.categoria == 'metal'}">Metal</option>
                                <option value="eletronico" th:selected="${solicitude.categoria == 'eletronico'}">Eletronico</option>
                                <option value="otros" th:selected="${solicitude.categoria == 'otros'}">Otros</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="descripcion" class="form-label">Descripción</label>
                            <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required th:text="${solicitude.descripcion}"></textarea>
                        </div>

                        <!-- Campo de selección de días -->
                        <div class="mb-3">
                            <label for="diasDisponibles" class="form-label">Días disponibles *</label>
                            <select id="diasDisponibles" class="form-select" name="diasDisponibles" required>
                                <option value="" disabled selected>Seleccione un día</option>
                                <option value="monday" th:selected="${solicitude.diasDisponibles == 'monday'}">Lunes</option>
                                <option value="tuesday" th:selected="${solicitude.diasDisponibles == 'tuesday'}">Martes</option>
                                <option value="wednesday" th:selected="${solicitude.diasDisponibles == 'wednesday'}">Miércoles</option>
                                <option value="thursday" th:selected="${solicitude.diasDisponibles == 'thursday'}">Jueves</option>
                                <option value="friday" th:selected="${solicitude.diasDisponibles == 'friday'}">Viernes</option>
                                <option value="saturday" th:selected="${solicitude.diasDisponibles == 'saturday'}">Sábado</option>
                            </select>
                        </div>

                        <!-- Campo de selección de hora -->
                        <div class="mb-3">
                            <label for="horaRecoleccion" class="form-label">Hora de recolección *</label>
                            <select id="horaRecoleccion" class="form-select" name="horaRecoleccion" onchange="clearTimeInput();" required>
                                <option value="" disabled selected>Seleccione la hora de recolección</option>
                                <option value="09:00" th:selected="${solicitude.horaRecoleccion == '09:00'}">09:00</option>
                                <option value="10:00" th:selected="${solicitude.horaRecoleccion == '10:00'}">10:00</option>
                                <option value="11:00" th:selected="${solicitude.horaRecoleccion == '11:00'}">11:00</option>
                                <option value="12:00" th:selected="${solicitude.horaRecoleccion == '12:00'}">12:00</option>
                                <option value="13:00" th:selected="${solicitude.horaRecoleccion == '13:00'}">13:00</option>
                                <option value="14:00" th:selected="${solicitude.horaRecoleccion == '14:00'}">14:00</option>
                                <option value="15:00" th:selected="${solicitude.horaRecoleccion == '15:00'}">15:00</option>
                                <option value="16:00" th:selected="${solicitude.horaRecoleccion == '16:00'}">16:00</option>
                                <!-- Agrega más opciones según sea necesario -->
                            </select>
                        </div>

                        <div class="mb-3">
                            <div class="row">
                                <div class="col">
                                    <label for="calle" class="form-label">Calle *</label>
                                    <input type="text" class="form-control" id="calle" name="calle" th:value="${solicitude.calle}" required>
                                </div>
                                <div class="col">
                                    <label for="numeroDeCasa" class="form-label">Número de Casa *</label>
                                    <input type="text" class="form-control" id="numeroDeCasa" name="numeroDeCasa" th:value="${solicitude.numeroDeCasa}" required>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="barrio" class="form-label">Barrio *</label>
                            <input type="text" class="form-control" id="barrio" name="barrio" th:value="${solicitude.barrio}" required>
                        </div>

                        <div class="mb-3">
                            <label for="telefono" class="form-label">Teléfono *</label>
                            <input type="tel" class="form-control" id="telefono" name="telefono" th:value="${solicitude.telefono}" required>
                        </div>

                        <div class="mb-3">
                            <label for="peso" class="form-label">Peso</label>
                            <input type="text" class="form-control" id="peso" name="peso" th:value="${solicitude.peso ?: ''}">
                        </div>

                        <div class="mb-3">
                            <label for="tamanio" class="form-label">Tamaño</label>
                            <select class="form-select" id="tamanio" name="tamanio">
                                <option value="" disabled selected>Seleccione el tamaño</option>
                                <option value="grande" th:selected="${solicitude.tamanio == 'grande'}">Grande</option>
                                <option value="mediano" th:selected="${solicitude.tamanio == 'mediano'}">Mediano</option>
                                <option value="chico" th:selected="${solicitude.tamanio == 'chico'}">Chico</option>
                            </select>
                        </div>
                        <!-- Campo para mostrar el estado de activación -->
                        <div class="mb-3">
                            <label class="form-label">Estado</label>
                            <span th:text="${solicitude.activo ? 'Activado' : 'Desactivado'}"></span>
                        </div>
                        <!-- Selector para cambiar el estado de activación -->
                        <div class="mb-3">
                            <label for="activo" class="form-label">Estado</label>
                            <select id="activo" name="activo" class="form-select" required>
                                <option value="0" th:text="#{desactivado}"
                                        th:selected="${solicitude.activo == 0}">Desactivado
                                </option>
                                <option value="1" th:text="#{activo}"
                                        th:selected="${solicitude.activo == 1}">Activo
                                </option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        <a th:href="@{'/user/deletesolicitude/' + ${solicitude.id}}" class="btn btn-danger mt-2">Borrar Solicitud</a>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center" th:text="#{dialogue.box}">Caja de diálogo</h4>
            <div class="card">
                <div class="card-body">
                    <form th:action="@{'/user/solicitude/' + ${solicitude.id} + '/messages'}" method="post">
                        <div class="form-group">
                            <label for="messageInput" th:text="#{dialogue.writeMessage}">Escriba su mensaje:</label>
                            <textarea class="form-control" id="messageInput" name="messageInput" rows="3" required></textarea>
                        </div>
                        <button class="btn btn-primary mt-2" type="submit" th:text="#{dialogue.send}">Enviar</button>
                    </form>
                </div>
                <div class="card-footer">
                    <h6 th:text="#{dialogue.previousMessages}">Mensajes anteriores:</h6>
                    <ul class="list-group" id="messageList">
                        <li class="list-group-item" th:each="message : ${messages}">
                            <strong th:text="${message.user.username}">User:</strong>
                            <span th:text="${message.contenido}">Mensaje</span>
                            <small class="text-muted" th:text="${#temporals.format(message.fechaEnvio, 'dd/MM/yyyy HH:mm')}">Fecha</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{fragments/footer :: footer}"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function clearSelectInput() {
        document.getElementById('horaRecoleccion').value = '';
    }

    function clearTimeInput() {
        document.getElementById('customHoraRecoleccion').value = '';
    }

    function validateTimeInputs() {
        const horaRecoleccion = document.getElementById('horaRecoleccion').value;
        const customHoraRecoleccion = document.getElementById('customHoraRecoleccion').value;

        if (!horaRecoleccion && !customHoraRecoleccion) {
            alert('Por favor seleccione o ingrese una hora de recolección.');
            return false;
        }

        return true;
    }

    document.getElementById('editForm').addEventListener('submit', function(event) {
        if (!validateTimeInputs()) {
            event.preventDefault();
        }
    });

    function updateAvailableHours() {
        const day = document.getElementById('diasDisponibles').value;
        const hourSelect = document.getElementById('horaRecoleccion');
        hourSelect.innerHTML = '<option value="" disabled selected>Seleccione la hora de recolección</option>';

        let hours = [];
        if (day === 'saturday') {
            hours = ['09:00', '10:00', '11:00'];
        } else if (day) {
            hours = ['08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00'];
        }

        hours.forEach(hour => {
            const option = document.createElement('option');
            option.value = hour;
            option.textContent = hour;
            hourSelect.appendChild(option);
        });
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var currentValue = document.querySelector('select').getAttribute('data-value'); // Asume que data-value tiene el valor del servidor

        // Cambia el estado visual de los botones
        var toggleActivo = document.getElementById('toggleActivo');
        var toggleDesactivado = document.getElementById('toggleDesactivado');

        if (currentValue === '1') {
            toggleActivo.classList.add('active');
            toggleDesactivado.classList.remove('active');
        } else if (currentValue === '0') {
            toggleActivo.classList.remove('active');
            toggleDesactivado.classList.add('active');
        }

        // Añade evento para cambiar el estado
        toggleActivo.addEventListener('click', function() {
            toggleActivo.classList.add('active');
            toggleDesactivado.classList.remove('active');
            // Enviar valor al servidor o procesar el cambio
        });

        toggleDesactivado.addEventListener('click', function() {
            toggleActivo.classList.remove('active');
            toggleDesactivado.classList.add('active');
            // Enviar valor al servidor o procesar el cambio
        });
    });
</script>
</body>
</html>
