<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitudes</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <style>
        .error {
            color: red;
            display: none;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img src="/img/logov4.png" alt="logo" width="50" height="50">
        <a class="navbar-brand" th:href="@{/index}" th:text="#{index.title}"> Frontera Sustentable</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown language-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span th:text="#{label.chooseLang}"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/user/newsolicitude?language=pt" th:text="#{label.lang.pt}">Português</a></li>
                        <li><a class="dropdown-item" href="/user/newsolicitude?language=es" th:text="#{label.lang.es}">Español</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" th:text="#{salir}">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Migas de pan -->
<div class="container mt-1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light">
            <li class="breadcrumb-item"><a th:href="@{/user/welcome}" th:text="#{breadcrumb.welcome}">Bienvenida</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="#{breadcrumb.newRequest}">Nueva Solicitud</li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title mb-4" th:text="#{newRequest.title}">Nueva Solicitud</h3>
                </div>
                <div class="card-body">
                    <form id="finalForm" method="post" enctype="multipart/form-data" th:action="@{/user/newsolicitude}" th:object="${solicitud}">

                        <!-- Texto de ayuda para campos obligatorios -->
                        <p><strong>*</strong> Indica que el campo es obligatorio</p>

                        <div class="mb-3">
                            <label for="file" class="form-label" th:text="#{newRequest.wasteImage}">Imagen del Residuo *</label>
                            <img id="previewImage" src="/img/thumbnail-default.jpg" class="img-thumbnail mb-2" style="max-width: 200px;"  alt="img"/>
                            <input type="file" class="form-control" id="file" name="file" onchange="previewFile()" required>
                        </div>

                        <div class="mb-3">
                            <label for="material" class="form-label" th:text="#{newRequest.selectMaterial}">Selecciona el Tipo de Material *</label>
                            <select class="form-select" id="material" name="categoria" required>
                                <option value="" disabled selected>Seleccione el material</option>
                                <option value="plastico">Plástico</option>
                                <option value="carton">Cartón</option>
                                <option value="madera">Metal</option>
                                <option value="mixto">Eletrónicos</option>
                                <option value="otros">Otros</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col">
                                    <label for="destino" class="form-label" th:text="#{newRequest.destino}">Destino *</label>
                                    <select class="form-select" id="destino" name="destino" required>
                                        <option value="" disabled selected>Seleccione un destino</option>
                                        <option value="cooperativa">Sant'Ana</option>
                                        <option value="asociacion">Rivera</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="barrio" class="form-label" th:text="#{newRequest.neighborhood}">Barrio *</label>
                                    <input type="text" class="form-control" id="barrio" name="barrio" required>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="row">
                                <div class="col">
                                    <label for="calle" class="form-label" th:text="#{newRequest.street}">Calle *</label>
                                    <input type="text" class="form-control" id="calle" name="calle" required>
                                </div>
                                <div class="col">
                                    <label for="numeroDeCasa" class="form-label" th:text="#{newRequest.houseNumber}">Número de Casa y Referencia *</label>
                                    <input type="text" class="form-control" id="numeroDeCasa" name="numeroDeCasa" required>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="telefono" class="form-label" th:text="#{newRequest.phoneNumber}">Teléfono para contactar *</label>
                            <input type="tel" class="form-control" id="telefono" name="telefono" required>
                        </div>

                        <div class="mb-3">
                            <label for="diasDisponibles" class="form-label" th:text="#{newRequest.availableDays}">Días Disponibles *</label>
                            <select class="form-select" id="diasDisponibles" name="diasDisponibles" required onchange="updateAvailableHours()">
                                <option value="" disabled selected>Seleccione un día</option>
                                <option value="monday">Lunes</option>
                                <option value="tuesday">Martes</option>
                                <option value="wednesday">Miércoles</option>
                                <option value="thursday">Jueves</option>
                                <option value="friday">Viernes</option>
                                <option value="saturday">Sábado</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <div class="row">
                                <div class="col">
                                    <label for="horaRecoleccion" class="form-label" th:text="#{newRequest.collectionTime}">Hora de Recolección *</label>
                                    <select class="form-select" id="horaRecoleccion" name="horaRecoleccion" required onchange="clearTimeInput()">
                                        <option value="" disabled selected>Seleccione la hora de recolección</option>
                                        <option value="08:00">08:00</option>
                                        <option value="09:00">09:00</option>
                                        <option value="10:00">10:00</option>
                                        <option value="11:00">11:00</option>
                                        <option value="12:00">12:00</option>
                                        <option value="13:00">13:00</option>
                                        <option value="14:00">14:00</option>
                                        <option value="15:00">15:00</option>
                                        <option value="16:00">16:00</option>
                                        <option value="17:00">17:00</option>
                                        <option value="18:00">18:00</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="customHoraRecoleccion" class="form-label">Ingresar Hora *</label>
                                    <input type="time" class="form-control mt-2" id="customHoraRecoleccion" name="customHoraRecoleccion" placeholder="Ingrese una hora" onchange="clearSelectInput()" min="08:00" max="18:00" required>
                                </div>
                            </div>
                        </div>



                        <div class="mb-3">
                            <label for="descripcion" class="form-label" th:text="#{newRequest.description}">Descripción</label>
                            <textarea class="form-control" id="descripcion" name="descripcion" rows="3"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary" th:text="#{newRequest.submit}">Enviar Solicitud</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container text-right">
        <span class="text-muted" th:text="#{footer.copy}">&copy; 2024 Frontera Sustentable. Todos los derechos reservados.</span>
        <a class="nav-link" th:href="@{/report}">Reportar problema</a>
        <button onclick="window.history.back()" class="btn btn-outline-light btn-sm mx-2
        float-right" th:text="#{volver}">Volver atrás</button>    </div>
</footer>
<!-- Fin del contenido principal -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function clearTimeInput() {
        document.getElementById('customHoraRecoleccion').value = '';
    }

    function clearSelectInput() {
        document.getElementById('horaRecoleccion').value = '';
    }
</script>
<script>
    function previewFile() {
        const preview = document.getElementById('previewImage');
        const file = document.getElementById('file').files[0];
        const reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file); // lee el archivo como una URL de datos
        } else {
            preview.src = "/img/thumbnail-default.jpg"; // imagen por defecto
        }
    }
</script>
<script>
    function updateAvailableHours() {
        const day = document.getElementById('diasDisponibles').value;
        const hourSelect = document.getElementById('horaRecoleccion');

        // Limpiar las opciones actuales
        hourSelect.innerHTML = '<option value="" disabled selected>Seleccione la hora de recolección</option>';

        // Definir horas disponibles según el día
        let hours = [];
        if (day === 'saturday') {
            hours = ['09:00', '10:00', '11:00'];
        } else if (day) {
            hours = ['08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00'];
        }

        // Agregar las nuevas opciones
        hours.forEach(hour => {
            const option = document.createElement('option');
            option.value = hour;
            option.textContent = hour;
            hourSelect.appendChild(option);
        });
    }
</script>
</body>
</html>
