<!-- src/main/resources/templates/fragments/footer.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="footer">
    <footer class="custom-footer bg-dark text-white py-3">
        <div class="footer-content d-flex justify-content-between align-items-center container">

            <!-- Enlace al Inicio (Breadcrumb) -->
            <ul class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="#"  class="text-white-50 text-decoration-none">Arriba</a>
                </li>
            </ul>

            <!-- Información de la App -->
            <div class="text-center">
                <p class="mb-0"> Proyecto Frontera de la Paz Sustentable Residuos Solidos v0.8.330</p>
            </div>

            <!-- Botón de Soporte (Solo si el usuario está autenticado) -->
            <div th:if="${user != null}">
                <a th:href="@{/user/report}" class="btn btn-outline-light btn-sm">
                    Soporte y Ayuda
                </a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
