<!-- src/main/resources/templates/fragments/footer.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- src/main/resources/templates/fragments/footer.html -->
<div th:fragment="footer">
    <footer class="footer bg-dark text-white py-3"
            style="position: fixed; bottom: 0; left: 0; width: 100%; z-index: 1030;">
        <div class="container d-flex justify-content-between align-items-center">
            <span class="text-muted d-flex align-items-center">
                <span th:text="#{footer.copy}">
                    2024 Frontera Sustentable. Todos los derechos reservados.
                </span>
            </span>
        </div>
    </footer>
</div>

</body>
</html>
