<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Bootstrap</title>
    <!-- Enlaces a Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!-- Enlace a los iconos de Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
</head>


<body class="pt-5">

<div th:fragment="header">
    <header data-bs-theme="dark">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <!-- Logo en el navbar -->
                <div th:replace="~{fragments/logo}"></div>

                <!-- Marca y nombre de la aplicación -->
                <a class="navbar-brand d-none d-md-block" th:href="@{/index}" th:text="#{index.title}"></a>

                <!-- Botón de navegación toggle para dispositivos móviles -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Menú de navegación que colapsa en pantallas pequeñas -->
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <!-- Menú en una sola línea con flex-wrap para pantallas pequeñas -->
                    <ul class="navbar-nav ms-auto flex-row flex-wrap">
                        <!-- Dropdown de reciclaje y educación ambiental -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle me-3" th:text="#{button.environmental}" href="#" id="reciclajeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-recycle"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="reciclajeDropdown">
                                <li>
                                    <a class="dropdown-item me-3" th:href="@{/user/newsolicitude}">
                                        <i class="bi bi-recycle"></i> <span th:text="#{button.requestRecycling}"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item me-3" th:href="@{/ambiental}">
                                        <i class="bi bi-tree"></i> <span th:text="#{button.environmentalEducation}"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- Dropdown de noticias y recursos -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" th:text="#{button.resources}" href="#" id="infoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-info-circle"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="infoDropdown">
                                <li>
                                    <a class="dropdown-item me-3" th:href="@{/noticias}">
                                        <i class="bi bi-newspaper"></i> <span th:text="#{button.news}"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item me-3" th:href="@{/materiales}">
                                        <i class="bi bi-box-seam"></i> <span th:text="#{button.materials}"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item me-3" th:href="@{/alianzas}">
                                        <i class="bi bi-people"></i> <span th:text="#{button.parcerias}"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item me-3" th:href="@{/legislacion}">
                                        <i class="bi bi-book"></i> <span th:text="#{button.legislacion}"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- Iconos de selección de idiomas -->
                        <li class="nav-item me-3">
                            <a href="/index?language=es" class="nav-link">
                                <img th:src="@{/img/{img}(img=${uruguaiImageName})}" alt="Uruguay" width="30" height="20">
                            </a>
                        </li>
                        <li class="nav-item me-3">
                            <a href="/index?language=pt" class="nav-link">
                                <img th:src="@{/img/{img}(img=${brasilImageName})}" alt="Brasil" width="30" height="20">
                            </a>
                        </li>
                        <!-- Botón de login -->
                        <li class="nav-item me-3">
                            <a class="btn btn-primary d-inline-flex" th:href="@{/login}">
                                <i class="bi bi-box-arrow-in-right"></i> Login
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
