<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
</head>
<body>

<div th:fragment="login-form">
    <div class="container d-flex align-items-center justify-content-center min-vh-50 my-4">
        <div class="col-12 col-md-6 col-lg-4 mx-auto" style="max-width: 400px;">
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    <h4 class="card-title text-center mb-4">
                        <i class="bi bi-box-arrow-in-right"></i> Iniciar Sesión
                    </h4>
                    <form method="post" th:action="@{/login}" >
                        <div class="mb-3">
                            <label for="username" class="form-label">Nombre de Usuario</label>
                            <input type="text" id="username" name="username" class="form-control" placeholder="Ingresa tu nombre de usuario" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Ingresa tu contraseña" required>
                        </div>
                        <div class="d-grid mb-3">
                            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                        </div>
                        <div class="text-center">
                            <span>¿No tienes una cuenta? </span>
                            <a th:href="@{/register}" class="link-primary">Regístrate aquí</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
