<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    </head>
<body>

<!-- Fragmento Navbar -->
<div th:fragment="navbar">

    <nav id="mainNavbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">

            <div id="logo" th:replace="~{fragments/navbar/logo}"></div>

            <div id="button" th:replace="~{fragments/navbar/button}"></div>

            <div id="navbar-content" th:replace="~{fragments/navbar/navbar-content}"></div>

        </div>
    </nav>
</div>

</body>
</html>
