<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:fragment="navbar-info">

    <nav id="mainNavbar" class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
        <div class="container-fluid">

            <!-- Logo -->
            <div id="logo" th:replace="~{fragments/logo}"></div>

            <!-- Botón para navegación colapsable en dispositivos móviles -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Contenido del navbar -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item dropdown" th:insert="~{fragments/navbar/recycle :: recycle}"></li>


                    <!-- Menú desplegable: Usuario -->
                    <li class="nav-item dropdown" th:insert="~{fragments/navbar/resources :: resources}"></li>


                    <li class="nav-item">
                        <a th:href="@{${currentUrl}(language='es')}"
                           class="nav-link">
                            <img th:src="@{/img/{img}(img=${uruguaiImageName})}" alt="Uruguay" width="30" height="20" style="object-fit: contain;">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{${currentUrl}(language='pt')}" class="nav-link">
                            <img th:src="@{/img/{img}(img=${brasilImageName})}" alt="Brasil" width="30" height="20" style="object-fit: contain;">
                        </a>
                    </li>

                    <div th:if="${#authentication?.name == 'anonymousUser' or not (currentUrl.contains('login') or currentUrl.contains('register'))}">
                        <div th:replace="~{fragments/navbar/auth :: auth}"></div>
                    </div>

                </ul>
            </div>
        </div>
    </nav>
</div>


<!-- Scripts de Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
