<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{templates/user-template}">
<head>
    <title>Inicio - Frontera de la Paz</title>
    <meta name="description" content="Panel de usuario">
</head>
<body>
    <div layout:fragment="content">
        <div class="glass-card mb-4">
            <h2 class="h4 mb-3">Hola Mundo</h2>
            <p>Bienvenido a tu página de inicio</p>
        </div>
    </div>
</body>
</html>
