<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Listar Livros</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap">
</head>

<body>
<h1>Livros</h1>

<a href="/livros/preco/123">123</a><br/>
<a href="/livros/preco/321">321</a><br/>


<form method="post" action="pesquisar">
    Buscar: <input type="text" name="texto"/>
    <input type="submit"/>
</form>

<table>
    <thead>
    <th>ID</th>
    <th>empresa</th>
    <th>descripcion</th>
    <th>imagen</th>
    <th>Ações</th>
    </thead>

    <tbody>
    <tr th:each="empleo : ${empleos}">
        <td th:text="${empleo.id}"></td>
        <td th:text="${empleo.empresa}"></td>
        <td th:text="${empleo.descripcion}"></td>


        <td><img th:src="@{/imagem/{imagem}(imagem=${empleo.imagen})}"/></td>

        <td><a th:href="@{/editarempleo/{id}(id=${empleo.id})}">Editar</a></td>

        <td><a th:href="@{/deletarempleo/{id}(id=${empleo.id})}">Excluir</a></td>
    </tr>
    </tbody>

</table>


<a th:href="@{/novolivro}">Novo Empleo</a><br/>
<a th:href="@{/iniciolivros}">index</a><br/>
<a th:href="@{/index}">Home</a>

</body>

</html>
