
.banner {
    position: relative;
    display: flex;
    align-items: left;
    background: rgba(0, 0, 0, 0.5) url('/img/foto1.png');
    background-size: cover;
    background-position: center;
    flex-grow: 1;
    padding: 20px; /* Añade padding para mejor visualización en móviles */
    text-align: center; /* Centra el texto en móviles */
}

.banner-content {
    display: flex;
    align-items: left;
    flex-wrap: wrap;
    color: white;
    margin: auto;
    padding: 20px;
}