
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.footer .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer .container > .row {
    flex: 0 1 100%;
}

.footer .container > .row > div {
    padding: 0 15px;
    margin-bottom: 20px;
}

.footer h5 {
    margin-bottom: 15px;
}

.footer ul {
    padding: 0;
    list-style: none;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer span {
    display: block;
    margin-top: 20px;
}