.custom-navbar {
    background-color: #212529; /* Color de fondo oscuro pero suave */
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    justify-content: flex-start; /* Alinea los elementos hijos a la izquierda */
    align-items: flex-start; /* Alinea los elementos hijos verticalmente al inicio */

}

.custom-navbar .container {
    display: flex;
    justify-content: flex-start; /* Alinea los elementos hijos a la izquierda */
    align-items: flex-start; /* Alinea los elementos hijos verticalmente al inicio */
    align-items: center; /* Alinear verticalmente los elementos en el centro */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan si la pantalla es pequeña */
}

.custom-btn {
    display: inline-block;
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: white;
    font-size: 0.8rem; /* Tamaño de fuente */
    padding: 5px 5px; /* Aumentar el padding horizontal para mejorar el tamaño de los botones */
    margin: 10px;
    border-radius: 3px; /* Bordes redondeados */
    text-align: center;
    text-decoration: none; /* Quitar subrayado */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
}

.custom-btn:hover {
    background-color: #0a6ecd; /* Cambiar color en hover */
    transform: scale(1.05); /* Efecto de agrandar un poco al hacer hover */
    color: white;
}

.custom-btn:active {
    transform: scale(0.98); /* Efecto de presionado */
}
