
.custom-card {
    background-color: white;
    border: none; /* Sin borde */
    padding: 20px; /* Espaciado interno */
    margin-top: 50px; /* Margen superior */
}

.custom-card-header {
    border-left: 4px solid #007bff; /* Barra azul en el borde izquierdo */
    padding-left: 15px; /* Espaciado interno */
}

.custom-card-header h3 {
    margin: 0; /* Eliminar márgenes */
}

.custom-card-body {
    margin: 20px;

}

.custom-input {
    padding: 10px; /* Espaciado interno */
    width: 100%; /* Ancho completo */
    box-sizing: border-box; /* Para que el padding no afecte el ancho */
    border: 1px solid transparent; /* Sin borde visible por defecto */
    background-color: white; /* Fondo blanco */
    transition: border-color 0.3s ease, background-color 0.3s ease; /* Transición suave para el cambio de color */
}

.custom-input:focus {
    border-color: #007bff; /* Color del borde cuando el campo está en foco */
    background-color: white; /* Mantener el fondo blanco al hacer clic */
    outline: none; /* Eliminar el contorno del navegador */
}

.custom-input:not(:placeholder-shown) {
    background-color: white; /* Fondo blanco cuando hay texto */
}

.custom-input::placeholder {
    color: #ccc; /* Color del texto del placeholder */
}
.custom-button {
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 0; /* Sin bordes redondeados */
    padding: 10px 15px; /* Espaciado interno */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
}

.custom-button:hover {
    background-color: #0056b3; /* Color al pasar el mouse */
}

.custom-input:hover {
    padding: 10px auto; /* Espaciado interno */
    width: 100%; /* Ancho completo */
    box-sizing: border-box; /* Para que el padding no afecte el ancho */
    border: none;
}

.custom-card .card-inner {
    background-color: red; /* Background color for the inner card */
    padding: 15px;
    border-radius: 5px;
}