.navbar-logo {

    color: #f0f6f3; /* Color del texto, un gris oscuro para mayor legibilidad */
    width: 3.2rem; /* Tamaño de fuente responsivo */;
    height: 3.2rem;
    margin: 5px;
    padding: 5px;
}


.navbar-logo:hover {
    color: #0056b3; /* Cambia el color al pasar el ratón, un azul más oscuro */

}

@media (max-width: 1200px) {
    .navbar-logo {
        width: 3.2rem; /* Tamaño de fuente responsivo */;
        height: 3.2rem;
    }
}

@media (max-width: 992px) {
    .navbar-logo {
        width: 3.1rem; /* Tamaño de fuente responsivo */;
        height: 3.1rem;
    }
}

@media (max-width: 768px) {
    .navbar-logo {
        width: 3.0rem; /* Tamaño de fuente responsivo */;
        height: 3.0rem;
    }
}
@media (max-width: 576px) {
    .navbar-logo {
        width: 3.0rem; /* Tamaño de fuente responsivo */;
        height: 3.0rem;
    }
}
@media (max-width: 375px) {
    .navbar-logo {
        width: 2.9rem; /* Tamaño de fuente responsivo */;
        height: 2.9rem;
    }
}