.container-fluid.maps-bg {
    background-color: #333; /* bg-dark */
    color: #f8f9fa; /* text-light */
    padding: 2rem 0; /* py-5 */
    z-index: 1;
    margin: opx;
    font-size: 14px;
}

.map-height {
    height: 15rem; /* Ajusta la altura para que sea consistente */
    max-width: auto;
}
