/* Contenedor Principal - Centrado */
.metrica-contenedor-principal {
    display: flex;
    align-items: flex-start; /* Alinear las tarjetas al inicio */
    padding: 4px 40px 4px 40px;
    min-height: 10vh; /* Para que ocupe toda la pantalla verticalmente */
    background-color: withe;
    gap: 0.7rem; /* Espacio entre tarjetas */
    margin: auto;
    flex-direction: row;

}

/* Contenedor de Tarjetas */
.metrica-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 5px; /* Centrar el contenedor */

}

/* Tarjetas Individuales */
.metrica-item {
    width: auto; /* El ancho se ajusta al contenido */
    padding: 0.5rem;
    max-height: 5rem; /* Ancho máximo para mantener el diseño responsivo */
    text-align: center;
    background-color: white;
    transition: transform 0.2s ease-in-out;
    background-color: #dfdfdf; /* Fondo blanco */
    border-radius: 0.01rem; /* Bordes menos redondeados */
    box-shadow: 0 0 0.01rem rgba(0, 0, 0, 0.1); /* Añade una sombra suave */
    margin:  0.5rem  0.5rem auto; /* Centrar el contenedor */

}

/* Títulos y textos en las tarjetas */
.metrica-item h3 {
    font-size: 0.8rem; /* Tamaño de fuente más pequeño para los títulos */
    margin-bottom: 10px;
    color: #333; /* Color de texto oscuro */
}

.metrica-item p {
    font-size: 0.7rem; /* Tamaño de fuente más pequeño para las métricas */
    color: #666; /* Color de texto claro */
    margin: 0;
}

/* Efecto al pasar el cursor */
.metrica-item:hover {
    transform: scale(1.01 ); /* Aumentar ligeramente el tamaño */
}

/* Responsividad */
@media (max-width: 768px) {
    .metrica-contenedor {
    }

    .metrica-item {
        max-width: 90%; /* Las tarjetas ocupan casi todo el ancho en pantallas pequeñas */
    }
}

@media (max-width: 1200px) {
    .metrica-contenedor {
        justify-content: space-between; /* Distribuir con más espacio en pantallas medianas */
    }
}
/* Variables para valores reutilizados */
:root {
    --navbar-bg-color: #333;
    --navbar-bg-color-scrolled: rgba(0, 0, 0, 0.8);
    --flag-width: 30px;
    --flag-height: 20px;
    --logo-width: 50px;
    --transition-speed: 300ms;
}

/* Estilo del logo */
.container-fluid, .navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 20px;
    background-color: var(--navbar-bg-color);
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-link {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.navbar-nav {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

/* Ajusta el tamaño de las imágenes si es necesario */
.nav-link img {
    vertical-align: middle;
}

/* Estilo del botón de hamburguesa */
.navbar-toggler {
    border-color: transparent;
    padding: 0.4rem;
}

/* Estilo de las banderas de idioma */
.flag {
    width: var(--flag-width);
    height: var(--flag-height);
}


/* Estilos para el navbar normal */
#mainNavbar {
    transition: padding 300ms ease, box-shadow 300ms ease, background-color 300ms ease;
    box-shadow: none;
    position: fixed; /* Cambia a fixed desde el principio */
    top: 0;
    width: 100%;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: padding var(--transition-speed) ease, background-color var(--transition-speed) ease;

}

#mainNavbar.scrolled {
    padding: 5px 10px;
    background-color: var(--navbar-bg-color-scrolled);
}

.navbar-nav .nav-item {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
}

.d-flex {
    display: flex;
    align-items: center;
}

.navbar-brand {
    font-size: 1.1rem;
    transition: font-size var(--transition-speed) ease;
}


#navbar-placeholder{
    margin-top: 50px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo más oscuro */

}
.navbar-placeholder{
    margin-top: 50px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo más oscuro */

}

#espacio{
    margin-top: 15px;
    padding: 15px;
}

/* ====== Media Queries ====== */

/* Pantallas medianas (min-width: 768px) */
@media (min-width: 768px) {


    .flag {
        width: 25px;
        height: auto;
    }

    .navbar-toggler {
        padding: 0.4rem;
    }

    .navbar-toggler-icon {
        width: 1rem;
        height: 1rem;
    }
    .navbar-brand {
        font-size: 1.1rem;
        transition: font-size var(--transition-speed) ease;
    }
}

/* Pantallas pequeñas (max-width: 768px) */
@media (max-width: 768px) {

    .flag {
        width: 20px;
        height: auto;
    }

    .navbar-toggler {
        padding: 0.25rem 0.5rem;
    }

    .navbar-toggler-icon {
        width: 0.8rem;
        height: 0.8rem;
    }

    .navbar-brand {
        font-size: 1.0rem;
        transition: font-size var(--transition-speed) ease;
    }
}


/* Pantallas muy pequeñas (max-width: 576px) */
@media (max-width: 576px) {


    .flag {
        width: 15px;
        height: auto;
    }

    .navbar-toggler {
        padding: 0.15rem 0.25rem;
    }

    .navbar-toggler-icon {
        width: 0.6rem;
        height: 0.6rem;
    }

    .navbar-brand {
        font-size: 0.95rem;
        transition: font-size var(--transition-speed) ease;
    }
}

/* Pantallas extra pequeñas (max-width: 375px) */
@media (max-width: 375px) {


    .flag {
        width: 10px;
        height: auto;
    }

    .navbar-toggler {
        padding: 0.15rem 0.25rem;
    }

    .navbar-toggler-icon {
        width: 0.5rem;
        height: 0.5rem;
    }

    .navbar-brand {
        font-size: 0.9rem;
        transition: font-size var(--transition-speed) ease;
    }

}
