/* Estilo del logo */
#navbarLogo, .navbar-logo {
    width: 50px;
    height: auto;
    transition: width 300ms ease; /* Añadir transición para un efecto suave */
}

/* Estilo del botón de hamburguesa */
.navbar-toggler {
    border-color: transparent;
    padding: 0.4rem; /* Padding para el botón de hamburguesa */
}

/* Estilo de las banderas de idioma */
.flag {
    width: 30px; /* Tamaño consistente */
    height: 20px;
}

/* Ajuste para el navbar cuando haces scroll */
#mainNavbar {
    transition: padding 300ms ease, background-color 300ms ease;
}

#mainNavbar.scrolled {
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo más oscuro al hacer scroll */
}

.navbar-nav .nav-item {
    margin-right: 0.5rem; /* Margen derecho para separar elementos */
    display: flex;
    align-items: center;
}

.d-flex {
    display: flex; /* Asegúrate de que el contenedor sea flex */
    align-items: center; /* Alinea verticalmente los elementos */
}

.navbar-brand {
    font-size: 1.1rem; /* Tamaño normal */
    transition: font-size 300ms ease; /* Suaviza el cambio de tamaño */
}

#mainNavbar.scrolled .navbar-brand {
    font-size: 0.9rem; /* Tamaño más pequeño cuando está scrolled */
}

/* ----- Estilos para Pantallas Grandes (min-width: 768px) ----- */
@media (min-width: 768px) {
    #navbarLogo {
        width: 40px; /* Tamaño del logo */
    }
}

/* ====== Media Queries (Responsividad) ====== */
.tarjeta-personalizada {
    flex: 1 1 calc(33.33% - 1rem); /* 3 tarjetas por fila en pantallas medianas */
    max-width: 14rem; /* Limitar el ancho en pantallas medianas */
}
