/* ----- Estilos para Pantallas Grandes (min-width: 768px) ----- */

@media (min-width: 768px) {
    #navbarLogo {
        width: 40px; /* Tamaño normal del logo */
    }

    .flag {
        width: 25px; /* Mantiene el tamaño original de la bandera */
        height: auto;
    }

    .navbar-toggler {
        padding: 0.4rem; /* Padding para el botón de hamburguesa */
    }

    .navbar-toggler-icon {
        width: 1.0rem; /* Tamaño del icono */
        height: 1.0rem;
    }

    .navbar-brand {
        font-size: 1.1  rem; /* Tamaño normal del texto de la marca */
    }

    .navbar-placeholder {
        height: 1px; /* Altura inicial del navbar */
        background-color: rgba(0, 0, 0, 0.9); /* Fondo más oscuro */
    }
}


@media (max-width: 768px) {
    #navbarLogo {
        width: 30px; /* Tamaño reducido del logo en pantallas medianas */
    }

    .flag {
        width: 20px; /* Mantiene el tamaño de la bandera */
        height: auto;
    }

    .navbar-toggler {
        padding: 0.25rem 0.5rem; /* Menor padding para el botón de hamburguesa */
    }

    .navbar-toggler-icon {
        width: 0.8rem; /* Reduce el tamaño del icono del botón */
        height: 0.8rem;
    }

    .navbar-brand {
        font-size: 1.0rem; /* Tamaño del texto de la marca reducido */
    }

    .navbar-placeholder {
        height: 10px; /* Altura inicial del navbar */
        background-color: rgba(0, 0, 0, 0.9); /* Fondo más oscuro */
    }
}

/* ----- Estilos para Pantallas Pequeñas (max-width: 576px) ----- */

@media (max-width: 576px) {
    #navbarLogo {
        width: 20px; /* Tamaño más pequeño del logo */
    }

    .flag {
        width: 15px; /* Reduce el tamaño de la bandera */
        height: auto;
    }

    .navbar-toggler {
        padding: 0.15rem 0.25rem; /* Padding ajustado */
    }

    .navbar-toggler-icon {
        width: 0.6rem; /* Ícono más pequeño */
        height: 0.6rem;
    }

    .navbar-brand {
        font-size: 0.8rem; /* Tamaño más pequeño del texto de la marca */
    }
    .navbar-placeholder {
        height: 50px; /* Altura inicial del navbar */
        background-color: rgba(0, 0, 0, 0.9); /* Fondo más oscuro */
    }
}

@media (max-width: 375px) {
    #navbarLogo {
        width: 10px; /* Tamaño más pequeño del logo */
    }

    .flag {
        width: 10px; /* Reduce el tamaño de la bandera */
        height: auto;
    }

    .navbar-toggler {
        padding: 0.15rem 0.25rem; /* Padding ajustado */
    }

    .navbar-toggler-icon {
        width: 0.5rem; /* Ícono más pequeño */
        height: 0.5rem;
    }

    .navbar-brand {
        font-size: 0.8rem; /* Tamaño más pequeño del texto de la marca */
    }
    .navbar-placeholder {
        height: 80px; /* Altura inicial del navbar */
        background-color: rgba(0, 0, 0, 0.8); /* Fondo más oscuro al hacer scroll */
    }
}