body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    font-size: 16px; /* Ajuste de tamaño de fuente base */
    line-height: 1.5;

}
/* Estilos básicos */
.logo-container {
    display: flex;
    align-items: center;
}

/* Tamaño de la imagen */
.logo-container img {
    width: 50px; /* Tamaño inicial de la imagen */
    height: auto;
}

/* Espaciado entre el logo y el texto */
.logo-container .navbar-brand {
    margin-left: 0.5rem; /* Espaciado inicial */
}

.navbar-brand {
    font-weight: auto;
}

/* Sidebar */
.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    height: 100vh; /* Asegura que el sidenav tenga el 100% de la altura de la pantalla */
    width: auto; /* Ajusta el ancho al contenido */
    position: fixed;
    z-index: 1; /* Aparece detrás del navbar/footer */
    left: -100%; /* Oculta el sidebar fuera de la vista */
    background-color: rgba(0, 0, 0, 0.8); /* Fondo negro con transparencia */
    overflow-x: hidden;
    transition: left 0.3s ease;
    white-space: nowrap;
}

.sidenav.open {
    left: 0; /* Muestra el sidebar cuando está abierto */
    display: flex;
}

.sidenav a {
    padding: 8px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

/* Botón flotante en la mitad vertical de la pantalla, pegado a la pared izquierda */
#sidenavToggleNav {
    background-color: rgba(250, 250, 250, 0.7);
    color: black;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1003;
    transition: left 0.3s ease;
}

/* Al pasar el ratón por encima */
#sidenavToggleNav:hover {
    background-color: rgba(250, 250, 250, 0.5); /* Asegura que no haya fondo en el hover */
    border: none;
}
#main {
    transition: margin-left 0.2s;
    padding: 16px;
    margin-top: 60px;
}



#sidenavToggleNav::before {
    content: '\2630'; /* Símbolo de hamburguesa */
}

.sidenav.open + #sidenavToggleNav::before {
    content: '\2190'; /* Flecha que apunta a la izquierda */

}

/* Cambia la posición del botón cuando el sidenav está abierto */
.sidenav.open + #sidenavToggleNav {
    left: 200px;
}

/* Profile Image */
.profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Custom Card */
.custom-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.card-footer {
    text-align: center;
}

/* Footer */
.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
}

.footer a {
    color: white;
}

.footer a:hover {
    color: #ddd;
}
/* Estilos básicos */
.logo-container {
    display: flex;
    align-items: center;
}

/* Tamaño de la imagen */
.logo-container img {
    width: 50px; /* Tamaño inicial de la imagen */
    height: auto;
}

/* Espaciado entre el logo y el texto */
.logo-container .navbar-brand {
    margin-left: 0.5rem; /* Espaciado inicial */
}