body{
            margin: 0;
            padding: 0;
            height: 100%;
        }

.banner {
    position: relative;
        bottom: 0;
        width: 100%;
        max-height: auto;
        background-size: cover;
        background-position: center;
        background-image: url('/img/foto1.jpg');
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
     max-height: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Transparencia del fondo */
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 0;
    width:auto;
    text-align: center; /* Centra el texto horizontalmente */
    color: white;
    transform: translateY(-50%); /* Centra verticalmente el contenido */
}

.banner-text {
    font-size: 2em;
    margin-bottom: 20px;
}

.banner-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.footer {
    margin-top: 0; /* Elimina el margen superior */
    padding-top: 0; /* Elimina el padding superior */
}

.footer a {
    color: white; /* Cambia el color de los enlaces del footer a blanco */
}
.card img {
            width: 100%;
            height: 200px;
            object-fit: cover; /* Para mantener la relación de aspecto */
        }
        .card-title {
            color: #343a40; /* Color de texto más oscuro */
        }
        .card:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease-in-out;
        }

.custom-background {
            position: relative;
            min-height: calc(100vh - 56px); /* 56px es la altura aproximada de la barra de navegación */
            background-color: #f0f0f0; /* Color de fondo */
        }

        .transparencia {
            position: relative;
                width: 100%; /* Haz que la imagen ocupe todo el ancho */
                height: auto; /* Permite que la altura se ajuste automáticamente */
            }
        }

        .texto-superior {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white; /* Color del texto */
        }

        .footer {
            background-color: #343a40; /* Color de fondo del footer */
            color: white; /* Color del texto del footer */
        }