<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título de la página -->
    <title th:text="#{index.title}">Frontera Sustentable</title>
    <!-- Ícono de la página -->
    <link rel="icon" href="">
    <!-- Estilos CSS personalizados -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>

<body ><!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Logo de la aplicación -->
        <img src="/img/logov4.png" alt="logo" width="50" height="50">
        <a class="navbar-brand" th:href="@{/index}" th:text="#{index.title}">
            <i class="bi bi-tree"></i> Frontera Sustentable
        </a>

        <!-- Botón de hamburguesa para dispositivos móviles -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Elementos de la barra de navegación izquierda -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="btn btn-primary" th:if="${!isAuthenticated}" th:href="@{/login}">
                        <i class="bi bi-box-arrow-in-right"></i> Login
                    </a>
                    <a class="btn btn-primary" th:if="${isAuthenticated}" th:href="@{/init}">
                        <i class="bi bi-box-arrow-in-right"></i>  Reingresar
                    </a>
                </li>
            </ul>

            <!-- Elementos de la barra de navegación derecha -->
            <ul class="navbar-nav ml-auto">
                <!-- Menú desplegable para cambiar de idioma -->
                <li class="nav-item dropdown language-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-globe"></i> <span>Elige idioma</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/index?language=pt" th:text="#{label.lang.pt}">
                            <i class="bi bi-flag"></i> Português
                        </a></li>
                        <li><a class="dropdown-item" href="/index?language=es" th:text="#{label.lang.es}">
                            <i class="bi bi-flag"></i> Español
                        </a></li>
                    </ul>
                </li>

                <!-- Registro -->

                <li class="nav-item" th:if="${!isAuthenticated}">
                    <a class="navbar-brand" th:href="@{/register}">
                        <i class="bi bi-person-plus"></i> Registro
                    </a>
                </li>
                <li class="nav-item" th:if="${isAuthenticated}">
                    <a class="nav-link" th:href="@{/logout}">
                        <i class="bi bi-door-open"></i> <span th:text="#{salir}">Salir</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>


<div th:if="${success}" class="alert alert-success" role="alert" th:text="${success}"></div>

<!-- Mensajes de error -->
<div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}"></div>

<!-- Contenedor banner con fondo personalizado -->
<div class="banner">
    <div class="banner-content" style="text-align: left;">
        <h4 th:text="#{banner.title}" style="font-size: 1.5em; margin-bottom: 10px;">Bienvenido al Proyecto Frontera Sustentable</h4>
        <p th:text="#{greeting}" style="font-size: 1.2em;"></p>
        <br><br>

        <div style="margin-bottom: 40px; margin-top: 50px; background-color: rgba(0, 0, 0, 0.4); padding: 10px;">
            <h4 th:text="#{banner.apoyo}" style="font-size: 1.3em; margin-bottom: 10px;">Apoyo</h4>
            <ul class="list-unstyled" style="padding-left: 0; list-style-type: none; font-size: 1.1em;">
                <li style="margin-bottom: 10px;">
                    <span th:text="#{link.prefeitura}" style=" margin-right: 10px;"></span> -
                    <a href="https://www.sdolivramento.com.br/" style="text-decoration: none; color: #1da1f2;">Visitar site</a>
                </li>
                <li style="margin-bottom: 10px;">
                    <span th:text="#{link.intendencia}" style=" margin-right: 10px;"></span> -
                    <a href="https://www.rivera.gub.uy/portal/" style="text-decoration: none; color: #1da1f2;">Visitar site</a>
                </li>
                <li style="margin-bottom: 10px;">
                    <span th:text="#{link.proyecto}" style=" margin-right: 10px;"></span> -
                    <a href="https://www.fronteiradapazsustentavel.com.br/es/projeto/" style="text-decoration: none; color: #1da1f2;">Visitar site</a>
                </li>

            </ul>
        </div>
    </div>
</div>



<!-- Nueva barra después del banner con el enlace para realizar solicitud -->
<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col text-center">
                <a class="btn btn-primary mx-2" th:href="@{/user/newsolicitude}">Solicitar Reciclaje</a>
                <a class="btn btn-primary mx-2" th:href="@{/construction}">Educacion Ambiental</a>
                <a class="btn btn-primary mx-2" th:href="@{/construction}">Noticias</a>
                <a class="btn btn-primary mx-2" th:href="@{/construction}">Materiales</a>
            </div>
        </div>
    </div>
</div>
<section class="container my-4">
    <div class="row justify-content-center align-items-center text-center">

        <!-- Logo 1 -->
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <img src="/img/logoprojeto.png" alt="Logo 1" class="img-fluid" style="max-height: 100px;">
        </div>
        <!-- Logo 2 -->
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <img src="/img/pm.jpg" alt="Logo 2" class="img-fluid" style="max-height: 100px;">
        </div>
        <!-- Logo 3 -->
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <img src="/img/riviera.png" alt="Logo 3" class="img-fluid" style="max-height: 100px;">
        </div>


        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <img src="/img/asc.jpg" alt="Logo 3" class="img-fluid" style="max-height: 100px;">
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <img src="/img/ds.png" alt="Logo 3" class="img-fluid" style="max-height: 100px;">
        </div>


    </div>
</section>

<div class="container mt-4">
    <div class="row">
        <div class="card-header">
            <h4 th:text="#{publicaciones}">Publicaciones</h4>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-3">
        <!-- Tarjetas dinámicas -->
        <div class="col" th:each="article: ${articles}">
            <div class="card h-100">
                <img th:src="@{/img/{img}(img=${article.imagen})}" class="card-img-top" alt="Imagen de la artículo">
                <div class="card-body">
                    <h5 class="card-title" th:text="${article.titulo}">Título del artículo</h5>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" th:href="@{/article/viewarticle/{id}(id=${article.id})}">Leer</a>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid bg-dark text-light py-5">
    <div class="container">
        <div class="row justify-content-start">
            <!-- Mapa -->
            <div class="col-lg-8">
                <div class="border rounded shadow-sm mb-4 bg-light">
                    <div id="map" class="w-100" style="height: 300px;"></div>
                </div>
            </div>

            <!-- Información de Contacto -->
            <div class="col-lg-4">
                <div class="bg-light text-dark p-4 rounded">
                    <h4>Associação de Catadores Novo Horizonte</h4>
                    <h5>Información de Contacto</h5>
                    <p><strong>Dirección:</strong> Ten. Aníbal Benévolo, 135 - Sant'Ana do Livramento - RS, Brasil</p>
                    <p><strong>Horario:</strong> Lunes a Viernes, 9:00 AM - 4:00 PM</p>
                </div>
            </div>
        </div>
<hr>

        <div class="row justify-content-start">
            <!-- Mapa -->
            <div class="col-lg-8">
                <div class="border rounded shadow-sm mb-4 bg-light">
                    <div id="map2" class="w-100" style="height: 300px;"></div>
                </div>
            </div>

            <!-- Información de Contacto -->
            <div class="col-lg-4">
                <div class="bg-light text-dark p-4 rounded">
                    <h4>Cooperativa Renacer del Norte</h4>
                    <h5>Información de Contacto</h5>
                    <p><strong>Dirección:</strong> Camino Las Tunitas, S/N - Rivera - RVR, Uruguay</p>
                    <p><strong>Horario:</strong> Lunes a Viernes, 9:00 AM - 4:00 PM</p>
                </div>
            </div>
        </div>
    </div>
</div>


<footer>
    <div class="footer py-2 bg-dark text-white">
       <span class="text-muted"  th:text="#{index.title}">. Todos los derechos reservados.  &copy;</span>
        <a class="nav-link" th:href="@{/report}">Reportar problema</a>
        <button onclick="window.history.back()" class="btn btn-outline-light btn-sm mx-2 float-right" th:text="#{volver}">Volver atrás</button>
    </div>
</footer>



<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    // Espera a que el DOM esté completamente cargado
    document.addEventListener('DOMContentLoaded', function () {
        // Inicializa el mapa y establece las coordenadas y el nivel de zoom
        var map = L.map('map').setView([-30.88250225738402, -55.53590209874656], 16);

        // Agrega la capa de OpenStreetMap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Agrega un marcador en la ubicación específica
        L.marker([-30.88250225738402, -55.53590209874656]).addTo(map)
            .bindPopup('Associação de Catadores Novo Horizonte')
            .openPopup();
    });
</script>
<script>
    // Espera a que el DOM esté completamente cargado
    document.addEventListener('DOMContentLoaded', function () {
        // Inicializa el mapa y establece las coordenadas y el nivel de zoom
        var map = L.map('map2').setView([-30.937886022823736, -55.53291678413656], 16);

        // Agrega la capa de OpenStreetMap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Agrega un marcador en la ubicación específica
        L.marker([-30.937886022823736, -55.53291678413656]).addTo(map)
            .bindPopup('Cooperativa Renacer del Norte')
            .openPopup();
    });
</script>

</body>
</html>

