<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sostenibilidad</title>
    <link rel="icon" href="">

    <!-- Link al archivo CSS externo -->
    <link rel="stylesheet" href="/css/userNavbar.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/banner.css">
    <link rel="stylesheet" href="/css/maps.css">
    <link rel="stylesheet" href="/css/links.css">
    <link rel="stylesheet" href="/css/toggle-button.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/tarjetas.css">
    <link rel="stylesheet" href="/css/cards.css">
    <link rel="stylesheet" href="/css/breadcrumb.css">
    <link rel="stylesheet" href="/css/metricas.css">
    <link rel="stylesheet" href="/css/alert-info.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/logo.css">
    <link rel="stylesheet" href="/css/footer.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>

<nav id="mainNavbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <div th:replace="~{fragments/logo}"></div>

        <a class="navbar-brand" th:href="@{/index}" th:text="#{index.title}"> </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>

            <ul class="navbar-nav ms-auto">
                <div class="d-flex align-items-center">
                    <li class="nav-item">
                        <a href="/legislacion?language=es" class="nav-link">
                            <img th:src="@{/img/{img}(img=${uruguaiImageName})}" alt="Uruguay" width="30" height="20">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/legislacion?language=pt" class="nav-link">
                            <img th:src="@{/img/{img}(img=${brasilImageName})}" alt="Brasil" width="30" height="20">
                        </a>
                    </li>
                </div>
            </ul>
        </div>
    </div>

</nav>

<!-- Sidebar -->
<div id="mySidenav" class="sidenav">
    <a href="/admin/images">Imágenes del Sistema</a>
    <a href="/admin/users">Usuarios</a>
    <a href="/admin/solicitudes">Solicitudes</a>
    <a href="/admin/articles">Artículos</a>
    <a href="/admin/reports">Reportes</a>
    <a href="/admin/roles">Roles</a>
</div>

<!-- Botón de apertura/cierre del sidebar -->
<button id="sidenavToggleNav"></button>

<!-- Migas de pan -->
<div class="container mt-1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light">
            <!-- Elemento de inicio de las migas de pan -->
            <li class="breadcrumb-item">
                <i class="bi bi-house"></i>
                <a th:href="@{/index}" th:text="#{breadcrumb.home}">Inicio</a>
            </li>
            <!-- Elemento activo de las migas de pan -->
            <li class="breadcrumb-item active" aria-current="page" th:text="#{breadcrumb.welcome}">Welcome</li>
        </ol>
    </nav>
</div>


<div class="row row-cols-1 row-cols-md-3 g-3">
    <!-- Tarjetas dinámicas -->
    <div class="col" th:each="article: ${articles}">
        <div class="card h-100">
            <img th:src="@{/img/{img}(img=${article.imagenNombre})}" class="card-img-top" alt="Imagen de la artículo">
            <div class="card-body">
                <h5 class="card-title" th:text="${article.titulo}">Título del artículo</h5>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" th:href="@{/article/viewarticle/{id}(id=${article.id})}">Leer</a>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>


<!-- Scripts externos -->
<script src="/scripts/guestScript.js"></script>
<script src="/scripts/userScript.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
