<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Título de la página -->
    <title th:text="#{index.title}">Frontera Sustentable</title>
    <!-- Ícono de la página -->
    <link rel="icon" href="">
    <!-- Estilos CSS personalizados -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">


    <link rel="stylesheet" href="/css/breadcrumb.css">


    <link rel="stylesheet" href="/css/logo.css">

    <link rel="stylesheet" href="/css/login.css">



</head>



<body>

<nav id="mainNavbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <div id="logo" th:replace="~{fragments/logo}"></div>

        <a class="navbar-brand" th:href="@{/index}" th:text="#{index.title}"> </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownReciclaje" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-recycle"></i> Reciclaje
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownReciclaje">
                        <li><a class="dropdown-item" th:href="@{/user/newsolicitude}">Nueva Solicitud</a></li>
                        <li><a class="dropdown-item" th:href="@{/ambiental}">Educación Ambiental</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRecursos" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-info-circle"></i> Recursos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownRecursos">
                        <li><a class="dropdown-item" th:href="@{/noticias}">Noticias</a></li>
                        <li><a class="dropdown-item" th:href="@{/materiales}">Materiales</a></li>
                        <li><a class="dropdown-item" th:href="@{/alianzas}">Alianzas</a></li>
                        <li><a class="dropdown-item" th:href="@{/legislacion}">Legislación</a></li>
                    </ul>
                </li>
                <!-- Banderas y Botón Login -->
                <div class="d-flex align-items-center" style="gap: 15px;">
                    <!-- Banderas -->
                    <a href="/login?language=es" class="nav-link p-0">
                        <img th:src="@{/img/{img}(img=${uruguaiImageName})}" alt="Uruguay" width="30" height="20" style="object-fit: contain;">
                    </a>
                    <a href="/login?language=pt" class="nav-link p-0">
                        <img th:src="@{/img/{img}(img=${brasilImageName})}" alt="Brasil" width="30" height="20" style="object-fit: contain;">
                    </a>


                </div>
            </ul>
        </div>
    </div>
</nav>

<!-- Migas de pan -->
<div class="container mt-1" >
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" id="breadcrumb">            <!-- Elemento de inicio de las migas de pan -->
            <li class="breadcrumb-item">
                <i class="bi bi-house"></i>
                <a th:href="@{/index}" th:text="#{breadcrumb.home}">
                    Inicio
                </a>
            </li>
            <!-- Elemento activo de las migas de pan -->
            <li class="breadcrumb-item active" aria-current="page">
                <i class="bi bi-person-circle"></i>
                <span th:text="#{breadcrumb.login}">
                        Login
                </span>
            </li>
        </ol>
    </nav>
</div>

<!-- Contenido principal -->
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <!-- Manejo de errores y mensajes de éxito -->
            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    <i class="bi bi-exclamation-triangle-fill"></i>
                    <span th:text="#{error.login}">Email o Contraseña Incorrectos.</span>
                </div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-success">
                    <i class="bi bi-check-circle-fill"></i>
                    <span th:text="#{success.logout}">Sesión Finalizada con Éxito.</span>
                </div>
            </div>

            <div class="custom-card">
                <div class="custom-card-header">
                    <!-- Título del formulario -->
                    <h4 th:text="#{login.form.title}">
                        <i class="bi bi-box-arrow-in-right"></i> Formulario de Inicio de Sesión
                    </h4>
                </div>
                <div class="custom-card-body">
                    <form method="post" th:action="@{/login}" class="form-horizontal" role="form">
                        <!-- Campo de nombre de usuario -->
                        <div class="mb-3">
                            <i class="bi bi-person-check-fill"></i>
                            <label for="username" th:text="#{login.form.username}">
                                Nombre de Usuario *
                            </label>
                            <input type="text" id="username" name="username" class="custom-input" placeholder="Nombre de Usuario" />
                        </div>

                        <!-- Campo de contraseña -->
                        <div class="mb-3">
                            <i class="bi bi-lock-fill"></i>
                            <label for="password" th:text="#{login.form.password}">
                                Contraseña *
                            </label>
                            <input type="password" id="password" name="password" class="custom-input" placeholder="Contraseña" />
                        </div>

                        <!-- Botón de enviar -->
                        <div class="mb-3">
                            <button type="submit" class="custom-button">
                                <i class="bi bi-box-arrow-in-right"></i> Iniciar Sesión
                            </button>
                            <!-- Enlace para registrarse -->
                            <span th:text="#{login.form.register.text}">
                                ¿No tienes una cuenta?
                            </span>
                            <i class="bi bi-person-plus-fill"></i>
                            <a th:href="@{/register}" th:text="#{login.form.register.link}">Regístrate aquí</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<div th:replace="~{fragments/footer :: footer}"></div>

<script src="/scripts/guestScript.js"></script>
<script src="/scripts/navbar.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
