<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Icon Component</title>
</head>
<body>

<!-- Icono Bootstrap simple -->
<i th:fragment="bs-icon(name, extraClasses)" 
   th:class="${'bi bi-' + name + ' ' + (extraClasses != null ? extraClasses : '')}"
   aria-hidden="true"></i>

<!-- Icono con tooltip -->
<i th:fragment="icon-tooltip(name, tooltip, extraClasses)" 
   th:class="${'bi bi-' + name + ' ' + (extraClasses != null ? extraClasses : '')}"
   data-bs-toggle="tooltip" 
   th:title="${tooltip}"
   aria-hidden="true"></i>

<!-- Icono circular -->
<span th:fragment="circle-icon(name, bgColor, textColor)" 
      th:class="${'icon-circle ' + bgColor + ' ' + textColor}">
    <i th:class="${'bi bi-' + name}"></i>
</span>

</body>
</html>
