<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Image Component</title>
</head>
<body>

<!-- Imagen responsiva estándar -->
<img th:fragment="responsive(src, alt, extraClasses)" 
     th:src="${src}" 
     th:alt="${alt}"
     th:class="${'img-fluid ' + (extraClasses ?: '')}" />

<!-- Imagen de perfil circular -->
<div th:fragment="profile(src, alt, size)" 
     th:class="${'profile-image ' + (size ?: 'medium')}">
    <img th:src="${src ?: '/img/default-profile.png'}" 
         th:alt="${alt ?: 'Imagen de perfil'}"
         class="rounded-circle img-fluid" />
</div>

<!-- Imagen con thumbnail -->
<img th:fragment="thumbnail(src, alt, extraClasses)" 
     th:src="${src}" 
     th:alt="${alt}"
     th:class="${'img-thumbnail ' + (extraClasses ?: '')}" />

</body>
</html>
