<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- Input de texto básico -->
    <div th:fragment="text(id, label, name, value, placeholder, required)" class="mb-3">
        <label th:for="${id}" class="block text-sm font-medium text-gray-700" th:text="${label}">Etiqueta</label>
        <input th:id="${id}" 
               th:name="${name}" 
               th:value="${value}"
               th:placeholder="${placeholder}"
               th:required="${required}"
               type="text" 
               class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-green-500 focus:ring focus:ring-green-200 focus:ring-opacity-50">
    </div>
    
    <!-- Input de correo electrónico -->
    <div th:fragment="email(id, label, name, value, placeholder, required)" class="mb-3">
        <label th:for="${id}" class="block text-sm font-medium text-gray-700" th:text="${label}">Correo electrónico</label>
        <input th:id="${id}" 
               th:name="${name}" 
               th:value="${value}"
               th:placeholder="${placeholder}"
               th:required="${required}"
               type="email" 
               class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-green-500 focus:ring focus:ring-green-200 focus:ring-opacity-50">
    </div>
    
    <!-- Input de contraseña -->
    <div th:fragment="password(id, label, name, placeholder, required)" class="mb-3">
        <label th:for="${id}" class="block text-sm font-medium text-gray-700" th:text="${label}">Contraseña</label>
        <input th:id="${id}" 
               th:name="${name}" 
               th:placeholder="${placeholder}"
               th:required="${required}"
               type="password" 
               class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-green-500 focus:ring focus:ring-green-200 focus:ring-opacity-50">
    </div>
</body>
</html>
