<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Reciclaje Sólido</title>
  <!-- Tus enlaces CSS, scripts, etc. -->
</head>
<body>
<header th:fragment="header" class="bg-black shadow-lg mb-3">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-between h-16">
    <!-- Logo y Navegación Desktop -->
    <div th:replace="~{organisms/header-components :: logo-nav}"></div>
    <!-- Menú de Usuario e Idioma (Desktop) -->
    <div th:replace="~{organisms/header-components :: user-lang}"></div>
    
    <!-- Botón de menú móvil -->
    <button id="mobileMenuButton" class="md:hidden flex items-center text-white">
      <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>
  <!-- Menú Móvil -->
  <div id="mobileMenu" class="hidden md:hidden">
    <div th:replace="~{organisms/header-components :: mobile-menu}"></div>
  </div>
  <script th:src="@{/js/header.js}"></script>
</header>
<!-- Resto del contenido -->
</body>
</html>
